<h1>Welcome To Hood Watcher!</h1>
<h4> (Our job is finding you the right hood.) </h4>


  <% @users.each do |user| %>
<h5><%= link_to user.username, user %></h5>
<% end %>
  <h3><%= link_to 'Sign Up Now!', new_user_path %></h3>
<h3> OR </h3>
<h3><%= link_to 'Login', new_user_path %></h3>

<hr>

<% if current_user %>
  Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<hr>

the quiz content will display here ONLY AFTER logged in/ signed up
<hr>

